<%= content_for :title, "Products" -%>

<%= content_for :javascript do -%>
  <%= javascript_tag do %>
    // Bootstrap products to eliminate HTTP request
    $(function() {
      ProductsApp.products.reset(<%=raw products_array_as_json_helper @products %>);
    });
  <% end %>
<% end -%>

<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to 'Products', root_path %></h1>
    </li>
  </ul>
</nav>

<div class="row">
  <div id="form" class="small-4 columns"></div>
  <div id="list" class="small-8 columns"></div>
</div>

<script id="products-grid-template" type="text/template">
  <caption class="subheader">All Products</caption>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</script>

<script id="product-row-template" type="text/template">
  <td><%%= name %></td>
  <td><%%= showPrice() %></td>
  <td><%%= description %></td>
  <td class="actions">
    <button class="edit tiny radius">Edit</button>
    <button class="delete tiny radius">Delete</button>
  </td>
</script>

<script id="no-products-template" type="text/template">
  <h2>No Products</h2>
</script>

<script id="form-template" type="text/template">
  <h2 class="subheader">New Product</h2>
  <label>Name: <input type="text" id="name" /></label>
  <label>Price: <input type="number" id="price" /></label>
  <label>Description: <textarea id="description"></textarea></label>
  <p><button class="radius">Create</button></p>
</script>

<script id="edit-template" type="text/template">
  <h2 class="subheader">Edit Product</h2>
  <label>Name: <input type="text" id="name" value="<%%= name %>" /></label>
  <label>Price: <input type="number" id="price" value="<%%= price %>" /></label>
  <label>Description: <textarea id="description"><%%= description %></textarea></label>
  <p>
    <button class="radius">Update</button>
    <a id="done">Done</a>
  </p>
</script>
